*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

input, button, textarea, select {
    font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}

#root, #__next {
    isolation: isolate;
}

html{
    background-color: #D5E1EF;
}

main{

    display: grid;
    align-items: center;
}

section{
    display: grid;
    align-items: center;
    max-width: 20rem;
    margin: 0 auto;
    background-color: #FFFFFF;
}

section > img{
    max-width: 10rem;
    margin: 0 auto;
}

section > h1, section > p{
    text-align: center;
}